<div id="braintree-dropin-container"></div>

<form id="braintree-checkout-form">
    <div class="row">
      <div class="small-6 columns {{if invalidAmount 'has-error'}}">
        {{numeric-input value=amount name="amount" id="amount" maxlength="15" placeholder=(t 'support.amount') pattern=".{1,}" }}
      </div>

      <div class="small-6 columns">
        <button type="submit" class="button expand" disabled={{disabled}}>{{t "support.proceed"}}</button>
      </div>
    </div>
</form>
