.faq_list {
  margin-top: 4rem;

  @media #{$small-only} {
    margin-top: 3rem;
  }

  p, li {
    @media #{$small-only} {
      font-size: 0.8rem;
      line-height: 1.4rem;
      margin-bottom: 0.7rem;
      margin-top: 0.7rem;
    }
  }

  p b {
    color: $white;
  }

  .question_list {
    margin-left: 0.5rem;

    li {
      list-style: none;
      a {
        text-decoration: underline;
      }
    }
  }
}

.faq_nav_bar {
  margin-bottom: 1rem;
  background: $dark-blue;

  .top-bar {
    background: $dark-blue;
    border-bottom: 1px solid $medium-blue;
    max-width: 100%;
    margin: auto;
  }

  section {
    position: initial;
  }

  section.middle {
    margin-top: 0.7rem;
    position: absolute;
    @media #{$small-only} {
      margin-top: 1rem;
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 1rem;
  right: 0px;
  text-decoration: none;
  color: $white;
  background-color: $button-bg-color;
  font-size: 0.65rem;
  padding: 0.5rem;
  font-weight: bold;
  display: none;
}
