.tab-bar.ggv_order {
  margin: 0;
}

.ggv_order_details {
  .offer-status {
    background-color: $coral-red;
    color: $white;
    @media #{$small-only} {
      padding: 0.5rem 0 0.5rem 0.3rem;
      line-height: 1rem;
      width: 104%;
    }
    @media #{$medium-only} {
      padding: 0.5rem 0 0.5rem 0.3rem;
      line-height: 1rem;
    }
    .warning-icon {
      text-align: right;
      .fa-exclamation-triangle{
        @media #{$small-only} {
          font-size: 1rem;
          top: 0.3rem ;
          position: relative;
        }

        @media #{$medium-only} {
          font-size: 1rem;
          position: relative;
        }
      }
    }
    .msg {
      text-align: left;
    }
  }

  .list-items li span {
    display: table-cell;
  }

  .end_of_ul{
    margin-left: -1.25rem;
    margin-right: 0.62rem;
    @media #{$small-only} {
      margin-right: -1rem;
    }
  }

  .delivery-to, .delivery-from {
    margin-bottom: 1rem;
    .address {
      color: $white;
      margin-bottom: 1rem;
    }
    hr {
      margin-bottom: 0;
      @media #{$small-only} {
        width: 110%;
      }
    }
    i {
      color: $coral-red;
    }
  }
}
