.unread_message {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  float: right;
  margin-right: 1rem;
  margin-top: -2.5rem;

  @media #{$small-only} {
    margin-top: -2.2rem;
  }
}

.list-items .offer_description {
  @media #{$small-only} {
    font-size: 0.7rem;
  }
}
