<nav class="tab-bar">
  <section class="left-small">
    {{link-to (t "back") 'offer.confirm' model classNames="back"}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Notifications</h1>
  </section>
</nav>

<section class="main-section">
  <div class="row ui">
    <div class="small-12 columns confirm_order">

      <p><span class="icon-no-items"></span></p>

      <p>Would you like to be alerted when we have questions or status updates for your offer?</p>

    </div>
  </div>
</section>

<div class="btm">
  <div class="row">
    <div class="small-6 columns">
      {{#link-to "offer.submit" classNames="button expand secondary"}}No Thanks{{/link-to}}
    </div>
    <div class="small-6 columns">
      {{#online-button action="sendPushNotification" classNames="button expand"}}Notify Me{{/online-button}}
    </div>
  </div>
</div>
