{{#scroll-to-bottom}}
  {{#custom-navbar}}

    <nav class="tab-bar custom_nav">
      <section class="left-small">
        {{link-to (t "back") 'offer.offer_details' offer classNames="back"}}
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">{{t "offer.messages"}}</h1>
      </section>
    </nav>

    <div class="custom-section offer_messages_section">
      {{partial 'message_template'}}
    </div>
  {{/custom-navbar}}
{{/scroll-to-bottom}}
