<div class="tabs-content item-content">
  <ul class="list list-offer-items" id="joyride-end">

    {{#each item in sortedItems}}
      {{#if item.isOffer}}
        {{#if item.displayGeneralMessages}}
          <li>
            {{#link-to 'offer.messages' model}}
              {{partial 'offer/recent_offer_message'}}
            {{/link-to}}
          </li>
        {{/if}}
      {{else}}
        <li>
          {{#link-to 'item.messages' item}}
            {{partial 'offer/recent_item_message'}}
          {{/link-to}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
