{{#scroll-to-bottom}}
  <nav class="tab-bar sticky_title_bar">
    <section class="left-small">
      {{link-to (t "back") 'offer.offer_details' offer classNames="back"}}
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">{{t "offer.messages"}}</h1>
    </section>
  </nav>

  <div class="offer_messages_section">
    {{partial 'message_template'}}
  </div>
{{/scroll-to-bottom}}
