<nav class="tab-bar">
  <section class="left-small">
    {{#link-to 'offer.offer_details' offer classNames="back"}}{{t "back"}}{{/link-to}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">{{t "offer.messages"}}</h1>
  </section>
</nav>

{{partial 'message_template'}}
