<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>App menu</label></li>
    <li>{{#link-to 'offers'}}{{t "application.all_offers"}}{{/link-to}}</li>
    <li><a href="#" {{action 'logMeOut'}}>{{t "application.logout"}}</a></li>
  </ul>
</aside>
