<div class="contain-to-grid fixed sticky faq_nav_bar">
  <nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
    <section class="left-small">
      {{#link-to 'tour' classNames='back'}}{{t "back"}}{{/link-to}}
    </section>

    <section class="middle tab-bar-section">
      <h1 class="title">Frequently Asked Questions</h1>
    </section>
  </nav>
</div>

<section class="main-section faq_list">
  <div class="row">
    <div class="small-12 columns">

      <p>GoodCity.HK is the world's most efficient city-wide service for charitable goods donations.</p>

      <ul>
        <li><a href="faq#question1">What kinds of items can be donated?</a></li>
        <li><a href="faq#question2">How do reviewers decide what to accept?</a></li>
        <li><a href="faq#question3">What transport options are available?</a></li>
        <li><a href="faq#question4">How are requests for goods made?</a></li>
        <li><a href="faq#question5">Who is helped by these goods?</a></li>
        <li><a href="faq#question6">Can I donate goods from outside Hong Kong?</a></li>
        <li><a href="faq#question7">Why Hong Kong?</a></li>
      </ul>
      <br>

      <p id="question1"><b>What kinds of items can be donated?</b></p>

      <p>Items in good condition that could be a respectful gift to a charity or disadvantaged recipient.</p>

      <p>With GoodCity.HK you can find out if your item(s) are helpful just by taking a photo and waiting a few moments for review. Typical donations are of furniture, household goods, computers, electrical items and much more.</p>

      <p id="question2"><b>How do reviewers decide what to accept?</b></p>

      <p>Our reviewers see real-time supply and demand scores for every type of item. They combine this with considerations that vary for different kinds of items: quality requirements, size constraints, hazardous items, logistically difficult items, voltage, compatibility, parts and so on.</p>

      <p>Reviewers can ask you questions via the app's messaging features. This means we can avoid asking you to fill in complicated forms. For most items, your photos and brief notes will be enough.</p>

      <p>Reviewers also have live access to expert supervisors. Our supervisors have typically been facilitating donated goods in Hong Kong for at least five years. They know how to evaluate unusual offers: like a commercial pizza oven, 100,000 new business suits, boxes of fake flowers and all manner of wierd and wonderful things.</p>

      <p id="question3"><b>What transport options are available?</b></p>

      <ul>
        <li><b>Fast commercial van hire:</b> from within our app you can book a truck. This is the fastest method and you pay the driver directly.</li>
        <li><b>Subsidised collection service:</b> Crossroads operates a collection truck. For this service we only charge a fuel/tolls levy based on the size of your offer. However, due to high demand, you will typically need to wait a few weeks.</li>
        <li><b>Deliver yourself:</b> through the app you can book a time to drop the items at our Tuen Mun facility yourself.</li>
      </ul>

      <p id="question4"><b>How are requests for goods made?</b></p>

      <p>Social workers and charity staff have access to a specialised website and mobile app. Currently this is by invitation only but it will ultimately be expanded to all registered social workers and charitable organisations in Hong Kong.</p>

      <p id="question5"><b>Who is helped by these goods?</b></p>

      We serve a range of need:

      <ul>
        <li>Community/cultural groups</li>
        <li>Drug rehabilitation</li>
        <li>Educational institutions</li>
        <li>Elderly persons</li>
        <li>Environmental care</li>
        <li>Families in need</li>
        <li>Medical clinics & hospitals</li>
        <li>Orphanages</li>
        <li>People with special needs</li>
        <li>People at risk</li>
        <li>Rehabilitation services</li>
        <li>Service organisations</li>
        <li>Social enterprise</li>
        <li>Sports programmes for the disadvantaged</li>
        <li>Suicide prevention services</li>
        <li>Support for domestic workers</li>
        <li>Support for new arrivals</li>
        <li>Support for women</li>
        <li>Vocational training programmes</li>
        <li>Welfare of animals</li>
      </ul>

      <p id="question6"><b>Can I donate goods from outside Hong Kong?</b></p>

      <p>No. But if you are a company offering a volume of goods outside Hong Kong you can use another service we developed called <a href="http://www.globalhand.org/">Global Hand.</a></p>

      <p id="question7"><b>Why Hong Kong?</b></p>

      <p>Hong Kong is uniquely positioned to have the world’s most efficient system for charitable goods donation: high population density, small distances, penetration of smart-phones, relative wealth, well organised charitable sector and a climate of growing social awareness.</p>

      <p>The Crossroads Foundation has been facilitating donated goods in Hong Kong since 1995 and has developed numerous complex online services (e.g. business.un.org) making it an organisation uniquely placed to realise this opportunity.</p>

    </div>
  </div>
</section>
